apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-app
  type: NodePort  # Load balancing
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30007  # you can pick any port in 30000-32767
