name: CI Pipeline

on:
  push:
    branches: ["**"]      # Trigger on pushes to ANY branch

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest

      - name: Run flake8 Linting
        run: |
          flake8 --max-line-length=90 .

      - name: Run Unit Tests
        run: pytest

      - name: Build Docker Image
        run: docker build -t flask-app-ci -f flask-k8s-ci-cd-assignment/Dockerfile .

